@import '../abstracts/all.scss';

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  @include themed() {
    background-color: t('bg');
  }
}
body {
  transition: all 0.7s ease-in-out;
  @include themed() {
    background-color: t('bg');
  }
}
