@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import '../abstracts/all';

body {
  font-family: 'Asap Condensed', -apple-system, Roboto, BlinkMacSystemFont,
    'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  @include themed() {
    color: t('text');
    background: t('bg');
  }
  font-weight: 400;
}
h1 {
  font-family: 'Asap Condensed', sans-serif;
  font-size: 8em;
  font-weight: 400;
  line-height: 0.9em;
}
h2 {
  font-family: 'Asap', sans-serif;
  font-size: 3em;
  font-weight: 400;
}
h3 {
  font-family: 'Asap', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}
p {
  font-family: 'Asap', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}
.accent {
  color: $accent-1;
}
.active {
  color: $accent-1;
}
