@import '../abstracts/all.scss';

.edit-post-container {
  margin: auto;
  padding: 0 50px;
  max-width: 1100px;
  & img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin: auto;
    object-fit: cover;
  }
  & .ce-block__content {
    width: 100%;
    max-width: 1000px;
  }
  & .ce-toolbar__content {
    width: 100%;
    max-width: 1000px;
  }
  & .savePost {
    margin: auto;
    padding-bottom: 50px;
    text-align: center;
    & button {
      margin: auto;
      border-radius: 20px;
      padding: 10px 20px;
      @include themed() {
        color: t('bg');
        background-color: t('g');
      }
    }
  }
}
.new-post-container {
  margin: auto;
  padding: 0 50px;
  max-width: 1100px;
  & img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin: auto;
    object-fit: cover;
  }
  & .ce-block__content {
    width: 100%;
    max-width: 1000px;
  }
  & .ce-toolbar__content {
    width: 100%;
    max-width: 1000px;
  }
}
.icon {
  @include themed() {
    color: t('g');
  }
}
