@import '../abstracts/all.scss';

.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  & h1 {
    font-size: 7em;
    text-align: right;
    padding-left: 40px;
    padding-right: 40px;
  }
  & .vert-rectangle {
    width: 5px;
    height: 250px;
    border-radius: 10px;
    @include themed() {
      background: t('text');
    }
    align-self: center;
  }
  & img {
    padding-left: 40px;
    width: 400px;
    height: 400px;
  }
}
.section-header {
  margin-left: 0;
  width: 100vw;
  & h2 {
    font-size: 4em;
    margin: auto;
    text-align: center;
    padding: 5px 20px;
  }
  & .fancy-rectangle {
    margin: auto;
    width: 270px;
    height: 5px;
    border-radius: 5px;
    @include themed() {
      background-color: t('g');
    }
  }
}
