@import '../abstracts/all.scss';
@import '../core/all.scss';

.startpage-containter {
  transition: all 0.7s ease-in-out;
  width: 100vw;
  height: 100vh;
  margin: auto;
  @include themed() {
    color: t('text');
    background: t('bg');
  }
  z-index: 2;
  & .green-text {
    font-family: $jetbrains;
    @include themed() {
      color: t('g');
    }
  }
  & p {
    @include themed() {
      color: t('text');
    }
    font-family: $jetbrains;
  }
  & h1 {
    padding-top: 30px;
    font-family: $jetbrains;
    font-size: 4em;
    text-align: center;
    @include themed() {
      color: t('text');
    }
  }
  & h2 {
  transition: all 0.7s ease-in-out;
    font-family: $jetbrains;
    padding: 50px 0;
    font-size: 1.4em;
    text-align: center;
    @include themed() {
      color: t('text');
      background: t('bg');
    }
  }
}

.startpage-hero-container {
  transition: all 0.7s ease-in-out;
  width: 100vw;
  margin: auto;
  z-index: 1;
  @include themed() {
    color: t('text');
    background: t('bg');
  }

  .startpage-hero {
  transition: all 0.7s ease-in-out;
    width: 90vw;
    max-width: 700px;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
    & img {
      padding-top: 30px;
      width: 400px;
      margin: auto;
    }
    & .startpage-grid {
  transition: all 0.7s ease-in-out;
      padding: 45px 30px;
      width: 80vw;
      max-width: 800px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
      border-radius: 20px;
      @include themed() {
        border: t('border');
        background: t('bg');
      }
    }
  }
  p {
    color: $one-dark-text;
    font-family: $jetbrains;
  }
}

.grid-item-container:nth-child(1) {
  transition: all 0.7s ease-in-out;
  & h3 {
    color: $one-dark-blue;
  }
  & a:hover {
    color: $one-dark-blue;
    transition: 0.3s ease-in-out;
  }
}
.grid-item-container:nth-child(2) {
  transition: all 0.7s ease-in-out;
  & h3 {
    color: $one-dark-red;
  }
  & a:hover {
    color: $one-dark-red;
    transition: 0.3s ease-in-out;
  }
}
.grid-item-container:nth-child(3) {
  transition: all 0.7s ease-in-out;
  & h3 {
    color: $one-dark-yellow;
  }
  & a:hover {
    color: $one-dark-yellow;
    transition: 0.3s ease-in-out;
  }
}
.grid-item-container:nth-child(4) {
  transition: all 0.7s ease-in-out;
  & h3 {
    color: $accent-1;
  }
  & a:hover {
    color: $accent-1;
    transition: 0.3s ease-in-out;
  }
}
.grid-item-container {
  transition: all 0.7s ease-in-out;
  margin: auto auto auto auto;
  & h3 {
    text-align: left;
    font-family: $jetbrains;
    font-size: 1.7em;
    font-weight: 800;
  }
  & ul {
    padding-top: 10px;
    list-style-type: none;
    margin-left: 0;
  }
  & li {
    margin-left: -15px;
    display: grid;
    grid-template-rows: repeat(auto);
  }

  & a {
    @include themed() {
      color: t('text');
    }
    text-decoration: none;
    font-size: 1.5em;
    font-family: $jetbrains;
    transition: 0.3s ease-in-out;
  }
}
