@import '../abstracts/all.scss';

.theme-selector {
  text-decoration: none;
  border: none;
  font-family: 'Asap Condensed', sans-serif;
  font-size: 1.7em;
  font-weight: 400;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.7s ease-in-out;
  @include themed() {
    background-color: t('bg');
    color: t('text');
  }
}
